<html>
	<head>
		<title>Django Girls blog</title>
	</head>
	<body>
		<div>
			<h1><a href="/">Django Girls Blog</a></h1>
			<p>Hi there!</p>
			<p>World...</p>
		</div>
		
		<div>
			<h2><a href="">My First post</a></h2>
			<p>published: 12.23.2019, 12:30</p>
			<p>I have a lot of cool things to say inside this post. Very much smart and cool.</p>
		</div>
		
		<div>
			<h2><a href="">My second post</a></h2>
			<p>published: 12.23.2019, 12:30</p>
			<p>I have some cool things to say inside this post. Very much smart and cool.</p>
		</div>

	</body>
</html>